a{
    margin: 40px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px #000;
    animation: color 8s infinite;
}
@keyframes color {
    50% {color:blue;}
    50% {color:red;}
    45% {color:black;}
    45% {color:rgb(238, 0, 255);}
    60% {color:rgb(47, 255, 0);}
    75% {color:yellow;}
    90% {color:green;}
    100% {color:pink;}
}
